*{
    margin:0;
    color:white;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgba(0, 0, 0, 0.9);
    min-height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
#digital-clock{
    color:rgba(65, 245, 255, 1);
    font-size: 30px;
}
.container{
    height:200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px floralwhite,
    0px 0px 10px 5px floralwhite;
    position: relative;
}
.time{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(calc(calc(360deg / 12) * var(--i)));  
}
.time span{
    position: absolute;
    left:46%;
    transform: rotate(calc(calc(-360deg / 12) * var(--i)));  
    
}
.sticks{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticks div{
    position:absolute;
    width: 4px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px ;
}
.sticks .hrs{
    z-index: 1;
    height: 70px;
    background: linear-gradient(to top,transparent 45%,rgba(255,255,255,1) 55%);
}
.sticks .mns{
    z-index: 0;
    height: 120px;
    background: linear-gradient(to top,transparent 45%,rgba(255,255,255,1) 55%);
}
.sticks .scs{
    height: 150px;
    z-index:-1;
    background: linear-gradient(to top,transparent 45%,rgba(255,255,255,1) 55%);
}
